/*
    RESET
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.1 Helvetica, Sans-Serif; background: url(); }
.clear { clear: both; }
img, a img { border: none; }
input { outline: none; }
textarea{ resize: none;}

/*
    STRUCTURE
*/
body { font: 14px/1.1 Helvetica, Sans-Serif; background: url('/imagenes/back.jpg'); }
#page-wrap { width: 960px; margin: 6px auto 50px; position: relative; }
hr { height: 1px; background: #ccc; clear: both; margin: 20px 0; border: none; display: block; }

/*
    TYPOGRAPHY
*/
a  { text-decoration: none; color: #000; border-bottom: 1px dotted #900; outline: none; }
h1 { font: bold 30px Helvetica, Sans-Serif; margin: 0 0 8px 0; }
h2 { margin: 0 0 10px 0; }
p { margin: 0 0 6px 0; }
.button { background-color: #292; -moz-border-radius: 5px; padding: 6px 12px; border: none; color: #fff; cursor: pointer; text-shadow: 0 1px 1px #666; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 3px #999; -moz-box-shadow: 0 1px 3px #999; font: bold 16px Helvetica; }
.button:hover { background-position: bottom left; }
.red { background: red; color: white; font-size: 12px; padding: 3px; }

/*
    HEADER
*/
#header { height: 68px; position: relative; }
#header h1 { position: relative; top: 10px; left: 0; z-index: 2; overflow:hidden;}
#header h1 a { display: block; width: 350px; height: 38px; border: none;}
#control { width: 500px; float: right; padding: 10px 237px 0 0; text-align: right; }

/*
    TOOL AND ACTION BAR
*/
.toolbar { width:100%; height:40px; margin:0;}
.actions, .actions ul, .actions li, .actions a { margin:0; padding:0; border:none; outline:none; }
.actions { position:relative; margin:0; height:40px; width:100%; background:#4c4e5a; background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); background: -moz-linear-gradient(top,#4c4e5a 0%,#2c2d33 100%); background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); clear:both; }
.actions li { position:relative; list-style:none; float:left; display:block; height:40px; }
.actions li a { display: block; padding: 0 16px; margin: 6px 0; line-height: 28px; text-decoration: none; border-left: 1px solid #393942; border-right: 1px solid #4f5058; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 13px; color: #f3f3f3; text-shadow: 1px 1px 1px rgba(0,0,0,.6); -webkit-transition: color .2s ease-in-out; -moz-transition: color .2s ease-in-out; -o-transition: color .2s ease-in-out; -ms-transition: color .2s ease-in-out; transition: color .2s ease-in-out; }
.actions li:first-child a { border-left: none; }
.actions li:last-child a{ border-right: none; }
.actions li:hover > a { color: #8fde62; }

/*
    FILES LISTS
*/
#files { list-style:none; position:relative; width:100%; display:block;}
#files li { height:30px; background:#fff; position: relative; width:100%; margin:0; border-bottom: 1px solid #ddd; }
#files li label { margin:10px 5px; color:#000; }
#files li label input { -moz-border-radius: 5px; -webkit-border-radius: 5px; position: relative; margin:7px; }

#share-area { margin: 20px 0 0 69px; width: 600px; }

/*
    FORM STUFF
*/
.nofiles label { background: #999; color: white; padding: 3px; }
input[type="text"], input[type="password"], input[type="email"] { width: 324px; border: 3px solid #999; font-size: 18px; padding: 7px; display: block; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus { width: 324px; border: 3px solid #922; font-size: 18px; padding: 7px; display: block; }
input[type="text"]:focus + label, input[type="password"]:focus + label, input[type="email"]:focus + label  { background: #922; color: white; padding: 3px; }
#add-new input[type="text"] { width: 532px; float: left; margin: 0 10px 0 69px; }
#add-new input[type="text"]:focus { border-color: #73B8BF; }
#add-new input[type="submit"] { padding: 10px 12px; }
ul#list li span input[style] { width: 90% !important; }
.info {display:none;}
:invalid {border-color: #f00;}
:invalid ~ .info{display:inline;}

/*
    MESSAGING
*/
.message {
    width:300px;
    top:0;
    left:auto;
    right:auto;
    position: absolute;
    z-index:1200;
    padding:10px;
    visibility:visible;
}
.good { background: #090; color:white; }
.bad { background: #c00; color:white; }

/*
    SIDEBAR
*/
#ribbon { position: absolute; right: 0; width: 125px; padding: 60px 30px 0 47px; height: 756px; top: -6px; background: url() no-repeat; }

#ribbon ul { list-style: none; }
#ribbon ul li { background: rgba(0,0,0,0.8); color: white; padding: 5px; margin: 0 0 5px 0; font-size: 12px; }


/* 
   EDITOR & CONSOLE
*/
.tabs { position: relative; width:100%; height:450px; margin:10px 0 30px 0;}
.tabs input { position: absolute; z-index: 1000; width: 120px; height: 40px; left: 0px; top: 0px; opacity: 0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); cursor: pointer; }
.tabs input#tab-2{ left: 130px; }
.tabs label { background: #5ba4a4; background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a)); background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%); background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%); background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%); background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%); font-size: 15px; 	line-height: 40px; height: 40px; position: relative; padding: 0 20px; float: left; display: block; color: #385c5b; letter-spacing: 1px; text-transform: uppercase; font-weight: bold; text-align: center; text-shadow: 1px 1px 1px rgba(255,255,255,0.3); border-radius: 3px 3px 0 0; box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1); }
.tabs label:after { content: ''; background: #fff; position: absolute; bottom: -2px; left: 0; width: 100%; height: 2px; display: block; }

.tabs input:hover + label {
	background: #5ba4a4;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.content {
    background: #fff;
	position: relative;
    width: 100%;
	height: 450px;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content > div {
    position: absolute;
	top:0;
	left:0;
	width:100%;
	height:450px;
	z-index:1;
    opacity:0;
    
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content #content-1, .tabs input.tab-selector-2:checked ~ .content #content-2 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
	color: #398080;
}
.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}
#editor { position:relative; width:100%; height:410px; margin:0; }
#consola { position:relative; width:100%; height:450px; margin:0; }
#consoleoutput{ height:100%; overflow:scroll; }
