body{
    margin:0;
    background-color:rgba(120,60,60,0.5);
    background-image: url("../imagenes/back.jpg");
    }
header{
    padding:5px;
    font-family: 'Trocchi', serif;
    }
#application{
    position:relative;
    }
#toolbar{
    width:auto;
    height:40px;
    padding:5px;
    background-color:rgba(120,120,120,0.8);
}
#editor{
    position:relative;
    height:450px;
    }
